@import "./variables.scss";

@media screen and (min-width: $laptopL) {
    .main {
        display: flex;
        &__img {
            margin-top: 96px;
            margin-left: 230px;
            width: 505px;
        }
        &__content {
            margin-right: 230px;
            margin-left: 95px;
            margin-top: 136px;
            &--heading {
                font-size: 42px;
                font-family: "Roboto";
                font-weight: 700;
                color: #121212;
            }
            &--text {
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 300;
                color: #121212;
            }
            &--button {
                margin-top: 32px;
                padding: 16px 40px;
                background-color: #E4C1AE;
                border-radius: 32px;
                border: 0;
                font-family: 'Roboto';
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }

}