@import "./variables.scss";

@media screen and (min-width: $mobileS) and (max-width: 374px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 80px;
            width: 260px;
            height: 190px
        }
        &__content {
            text-align: center;
            margin: 20px;
            &--heading {
                font-size: 42px;
                font-family: "Roboto";
                font-weight: 700;
                color: #121212;
            }
            &--text {
                margin-left: 40px;
                margin-right: 40px;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 300;
                color: #121212;
            }
            &--button {
                margin-top: 32px;
                padding: 16px 40px;
                background-color: #E4C1AE;
                border-radius: 32px;
                border: 0;
                font-family: 'Roboto';
                font-size: 16px;
                color: #FFFFFF;
            }
        }
    }
}