
.popup {
        display: none;
        position: absolute;
        right: 5%;
        top: 20px;
        background-color: #FFF;
        font-family: "Roboto";
        color: #121212;
        &__x {
                position: absolute;
                top: 0;
                right: 5px;
                color: rgb(12, 12, 12);
                font-weight: bold;
                font-family: "Arial";
                background-color: #FFF;
                border: 0;
            }
        &__content {
            font-size: 18px;
        }
        &__span {
            font-weight: bold;
        }
    }